@model MyBudget.ViewModels.MyListViewModel
@{
    ViewBag.Title = "MyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-7 text-center">
                <div class="container">
                    <div class="row" style="margin-bottom:20px;">
                        <div style="margin: 0 auto;user-select:none;">
                            <span class="glyphicon glyphicon-menu-left cal-switch" onclick="setingDate(2)"></span>
                            <input type="button" id="sandbox-container" value="@Model.ListDate.ToString("Y")">
                            <span class="glyphicon glyphicon-menu-right cal-switch" onclick="setingDate(1)"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-1">                
                <a class="btn btn-outline-danger new-trans" href="@Url.Action("TransactionForm", "Transactions", new { id=true} )"><span class="glyphicon glyphicon-minus"></span></a>                
                <a class="btn btn-outline-success new-trans" href="@Url.Action("TransactionForm", "Transactions", new { id=false} )"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        <div class="row">
            @if (Model.MyTransactions.Count == 0)
            {

                <h6 class="no-records">В этом месяце ещё нет платежей</h6>
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Наименование</th>
                            <th scope="col" style="width:25%;text-align:right;">Сумма</th>
                            <th scope="col" style="width: 60px;"></th>
                            <th scope="col" style="width: 60px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Model.MyTransactions)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(transaction.Name, "Edit", "Transactions", new { id = transaction.Id }, null)

                                </td>
                                <td class="text-right">
                                    @{
                                        string lineClass = "";
                                        char c = '+';
                                        if (transaction.IsSpending == true) { lineClass = "text-danger"; c = '-'; }
                                        else { lineClass = "text-success"; }

                                    }

                                    @Html.Label(@c + @transaction.Amount.ToString("### ### ### ###"), new { @class = lineClass + " amt" })


                                </td>
                                <td class="text-center">
                                    <!--<span class='glyphicon glyphicon-th-list'>@Html.ActionLink(" ", "Delete", "Transactions", new { id = transaction.Id }, null)</span>-->
                                </td>
                                <td>
                                    <span class=''>@Html.ActionLink(" ", "Delete", "Transactions", new { id = transaction.Id }, new { @class = "glyphicon glyphicon-remove del-btn" })</span>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div class="col-md-3 offset-md-1">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">
                <h4>Остаток</h4>
            </div>
            <div class="card-body"><h4 class="text-center">@Model.Rest.ToString("### ### ### ###")</h4></div>
        </div>

        <hr>

        <div class="card text-white bg-info mb-3">
            <div class="card-header">
                <a class="crd-add" href="@Url.Action("GoalForm", "Goals" )"><span class="glyphicon glyphicon-plus"></span></a>
                <h4>Цели</h4>
            </div>
            <div class="card-body">
                @if (Model.MyGoals.Where(x => x.Type == 1).Count() == 0)
                {
                    <h5>Не указаны</h5>
                }
                else
                {
                    foreach (var goal in Model.MyGoals.Where(x => x.Type == 1))
                    {
                        <div>
                            <div class="float-md-right">@Html.ActionLink(" ", "Delete", "Goals", new { id = goal.Id }, new { @class = "glyphicon glyphicon-remove del-btn-crd" })</div>
                            <div class="goal-card-itm">
                                <h4 class="">@goal.GoalName</h4>
                                <span>@goal.CurAmount из</span>
                                <span>@goal.Amount</span>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="card text-white bg-danger mb-3">
            <div class="card-header">
                <a class="crd-add" href="@Url.Action("DebtForm", "Goals" )"><span class="glyphicon glyphicon-plus"></span></a>
                <h4>Я должен</h4>
            </div>
            <div class="card-body">
                @if (Model.MyGoals.Where(x => x.Type == 2).Count() == 0)
                {
                    <h5>Не указаны</h5>
                }
                else
                {
                    foreach (var debt in Model.MyGoals.Where(x => x.Type == 2))
                    {
                        <div>
                            <div class="float-sm-right">@Html.ActionLink(" ", "Delete", "Goals", new { id = debt.Id }, new { @class = "glyphicon glyphicon-remove del-btn-crd" })</div>
                            <div class="debt-card-itm">
                                <h4 class="">@debt.GoalName <span class="glyphicon glyphicon-arrow-down"></span></h4>
                                <div>
                                    <span>@debt.CurAmount из </span><span>@debt.Amount</span>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        </div>

        <div class="card text-white bg-danger mb-3">
            <div class="card-header">
                <a class="crd-add" href="@Url.Action("CreditForm", "Goals" )" title="Добавить"><span class="glyphicon glyphicon-plus"></span></a>
                <h4>Мне должны</h4>

            </div>
            <div class="card-body">
                @if (Model.MyGoals.Where(x => x.Type == 3).Count() == 0)
                {
                    <h5>Не указаны</h5>
                }
                else
                {
                    foreach (var debt in Model.MyGoals.Where(x => x.Type == 3))
                    {
                        <div>
                            <div class="float-sm-right">@Html.ActionLink(" ", "Delete", "Goals", new { id = debt.Id }, new { @class = "glyphicon glyphicon-remove del-btn-crd" })</div>
                            <div class="debt-card-itm">
                                <h4 class="">@debt.GoalName <span class="glyphicon glyphicon-arrow-down"></span></h4>
                                <div>
                                    <span>@debt.CurAmount из </span><span>@debt.Amount</span>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        </div>




    </div>

</div>

<!--<a href="#delDialog" data-toggle="modal">удалить</a>-->


<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--
<div class="modal fade" id="delDialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                Сообщение
            </div>
            <div class="modal-body">Удалить выделенную запись?</div>
            <div class="modal-footer">
                <button class="btn btn-success">Да</button>
            </div>
        </div>
    </div>
</div>
    -->
