@model MyBudget.ViewModels.TransactionFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4 offset-md-4">

    @if (Model.Transaction != null)
    {
        <h2 class="form-title">Изменить платеж</h2>
    }
    else
    {
        <h2 class="form-title">Добавить платеж</h2>
    }


    @using (Html.BeginForm("Save", "Transactions"))
    {
        <div class="row">
            <form-group style="width:100%">
                <div class="form-group">
                    @{
            string actInc = "";
            string actOut = "";
            if (Model.Transaction != null)
            {

                if (!Model.Transaction.IsSpending) { actInc = "active"; }
                else { actOut = "active"; }
            }
            else { actInc = "active"; }

                    }

                    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width:100%">
                        <label class="btn btn-outline-danger @actOut" style="width:50%">
                            @Html.RadioButtonFor(m => m.Transaction.IsSpending, "true", new { name = "Transaction.IsSpending" })Расход
                        </label>
                        <label class="btn btn-outline-success @actInc" style="width:50%">
                            @Html.RadioButtonFor(m => m.Transaction.IsSpending, "false", new { name = "Transaction.IsSpending" })Прибыль
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Amount">Сумма</label>
                    @Html.TextBoxFor(m => m.Transaction.Amount, new { @class = "form-control" })
                </div>


                <div class="form-group">
                    <label for="Name">Наименование</label>
                    @Html.TextBoxFor(m => m.Transaction.Name, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="CategoryId">Категория</label>
                    @Html.DropDownListFor(m => m.Transaction.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="TransDate">Дата</label>
                    @Html.TextBoxFor(m => m.Transaction.TransDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })


                </div>



                <div class="form-group">
                    <label for="Description">Подробнее</label>
                    @Html.TextAreaFor(m => m.Transaction.Description, new { @class = "form-control" })
                </div>
                @Html.HiddenFor(m => m.Transaction.Id)
                @Html.HiddenFor(m => m.Transaction.UserId)
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form-group>
        </div>


    }

</div>