@model MyBudget.ViewModels.TransactionFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4 offset-md-4">

    @if (Model.Transaction != null)
    {
        <h2 class="form-title">Редактировать</h2>
    }
    else
    {
        if (Model.IsSpending == true)
        {
            <h2 class="form-title">Добавить расход</h2>
        }
        else
        {
            <h2 class="form-title">Добавить доход</h2>
        }
    }


    @using (Html.BeginForm("Save", "Transactions"))
    {
        <div class="row">
            <form-group style="width:100%">
                <div class="form-group">
                    <label for="Amount">Сумма</label>
                    @Html.TextBoxFor(m => m.Transaction.Amount, new { @class = "form-control-lg", style="width:100%", autocomplete="off" })
                </div>


                <div class="form-group">
                    <label for="Name">Наименование</label>
                    @Html.TextBoxFor(m => m.Transaction.Name, new { @class = "form-control", autocomplete = "off" })
                </div>

                <div class="form-group">
                    <label for="CategoryId">Категория</label>
                    @Html.DropDownListFor(m => m.Transaction.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="TransDate">Дата</label>
                    @if (Model.Transaction == null)
                    {
                        @Html.TextBoxFor(m => m.Transaction.TransDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @Value=DateTime.Now.ToShortDateString() })                        
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Transaction.TransDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    }


                </div>



                <div class="form-group" style="display:none">
                    <label for="Description">Подробнее</label>
                    @Html.TextAreaFor(m => m.Transaction.Description, new { @class = "form-control" })
                </div>
                @Html.HiddenFor(m => m.Transaction.IsSpending, new { @Value = Model.IsSpending })
                @Html.HiddenFor(m => m.Transaction.Id)
                @Html.HiddenFor(m => m.Transaction.UserId)
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form-group>
        </div>


    }

</div>