@model MyBudget.ViewModels.UserCategoriesViewModel
@{
    ViewBag.Title = "Мои категории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Мои категории</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table table-hover cat-tbl">
            <thead>
                <tr>
                    <th scope="col" style="width: 20px;"></th>
                    <th scope="col">Расходы</th>
                    <th scope="col" style="width: 60px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model.Categories.Where(c => c.IsSpendingCategory == true))
                {
                    <tr>
                        <td><span class="@cat.Icon"></span></td>
                        <td>@cat.Name</td>
                        <td><span>@Html.ActionLink(" ", "DeleteFromMyCategories", "Category", new { id = cat.Id }, new { @class = "glyphicon glyphicon-remove del-btn" })</span></td>
                    </tr>
                }                
            </tbody>
        </table>
        <hr/>
        <div class="cat-add-btn-wr">
            <a class="btn btn-success new-trans" href="@Url.Action("CategoryForm", "Category", new { id=true})"><span class="glyphicon glyphicon-plus"></span></a>
        </div>        
    </div>
    <div class="col-md-6">
        <table class="table table-hover cat-tbl">
            <thead>
                <tr>
                    <th scope="col" style="width: 20px;"></th>
                    <th scope="col">Доходы</th>
                    <th scope="col" style="width: 60px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model.Categories.Where(c => c.IsSpendingCategory == false))
                {
                    <tr>
                        <td><span class="@cat.Icon"></span></td>
                        <td>@cat.Name</td>
                        <td><span>@Html.ActionLink(" ", "DeleteFromMyCategories", "Category", new { id = cat.Id }, new { @class = "glyphicon glyphicon-remove del-btn" })</span></td>
                    </tr>
                }
            </tbody>
        </table>
        <hr/>
        <div class="cat-add-btn-wr">
            <a class="btn btn-success new-trans" href="@Url.Action("CategoryForm", "Category", new { id=false})"><span class="glyphicon glyphicon-plus"></span></a>
        </div>        

    </div>
</div>