<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">My Budget</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li>@Html.ActionLink("Мой лист", "MyBudget", "Transactions", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <h6 style="padding-top:5px;">&copy; @DateTime.Now.Year – приложение ASP.NET</h6>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
		jQuery('#sandbox-container').datepicker({
			format: "MM yyyy",
			minViewMode: 1,
			todayBtn: "linked",
			language: "ru",
			autoclose: true,
			defaultViewDate: { year: 2018, month: 01, day: 01 }
		});

		function setingDate(r){
			var dt = jQuery('#sandbox-container').datepicker('getDate');
			var dt1 = new Date();

			if(r==1){
				dt1 = new Date(dt.setMonth(dt.getMonth()+1));
			}else{
				dt1 = new Date(dt.setMonth(dt.getMonth()-1));
			}

			jQuery('#sandbox-container').datepicker('update', dt1);
		};


$('.counter-count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 1000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });




    </script>
</body>
</html>
