@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Pie","Graph")"><span style="margin-right:10px;" class="glyphicon glyphicon-stats"></span>Графики</a></li>
        <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><span class="glyphicon glyphicon-flag" style="margin-right:3px;"></span> Цели, долги <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="@Url.Action("AddGoal", "Goals" )">Добавить цель</a>
                <a class="dropdown-item" href="@Url.Action("AddDebt", "Goals" )">Взять в долг</a>
                <a class="dropdown-item" href="@Url.Action("AddCredit", "Goals" )">Дать в долг</a>
            </div>
        </li>

        <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><span class="glyphicon glyphicon-user" style="margin-right:3px;"></span> @User.Identity.GetUserName() <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="@Url.Action("Index", "Manage")">Мой кабинет</a>
                <a class="dropdown-item" href="@Url.Action("UserCategories", "Category")">Категории</a>
            </div>
        </li>
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out" style="margin-right:3px;"></span> Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        
        <li><a class="nav-link" href="@Url.Action("Login","Account")"><span class="glyphicon glyphicon-log-in" style="margin-right:10px;"></span>Вход</a></li>

    </ul>
}
