@model MyBudget.Models.Goal
@{
    ViewBag.Title = "Мне должны";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4 offset-md-4 frm1">
        <h3 class="form-title">Мне должны</h3>

        @using (Html.BeginForm("SaveGoal", "Goals"))
        {
            <div class="form-group">
                <label for="GoalName">Название</label>
                @Html.TextBoxFor(m => m.GoalName, new { @class = "form-control", autocomplete = "off", spellcheck = "false" })
                @Html.ValidationMessageFor(m => m.GoalName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="GoalName">Сумма</label>
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control-lg amt-inp jq-money", autocomplete = "off", maxlength = "13", type = "tel" })
                @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                <span class="cur-inp">@ViewBag.DefCurrency</span>
            </div>
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.Type)

            <hr />
            <div class="col-md-10 offset-md-1 btn-cntnr text-center ">
                <button type="submit" class="btn btn-success form-btn">Сохранить</button>
            </div>
        }
    </div>
</div>
@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {

        /*Для поля Сумма*/
        var $amt = $('.jq-money');

        if ($amt.val() == "0")
            $amt.val("");                                            

        if ($amt.val() !== '') {
            var num = parseInt($amt.val(), 10);
            $amt.val(num.toLocaleString("ru-RU"));
        }

        $amt.on("keyup", function (event) {
            var selection = window.getSelection().toString();
            if (selection !== '') { return; }

            if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) { return; }

            var $this = $(this);
            var input = $this.val();

            input = input.replace(/[\D\s\._\-]+/g, "");
            input = input ? parseInt(input, 10) : 0;
            $this.val(function () {
                return (input === 0) ? "" : input.toLocaleString("ru-RU");
            });
        });

        $('form').submit(function () {
            var textValue = $amt.val();
            $amt.val(textValue.replace(/[\D\s\._\-]+/g, ""));
        });
        /*---*/
    });
</script>
}