@model MyBudget.Models.IndexViewModel
@{
    ViewBag.Title = "Мой кабинет";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>@ViewBag.Title</h2>
        <p class="text-success">@ViewBag.StatusMessage</p>
        <h6 class="pr-sec-ttl">Параметры учетной записи</h6>
        <div class="conf-panel">
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Изменить пароль", "ChangePassword")<br />
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            <!--<dt>Внешние имена входа:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Управление", "ManageLogins") ]
            </dd>
            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                <dt>Номер телефона:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@

            <dt>Двухфакторная проверка подлинности:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Включено
                            <input type="submit" value="Отключить" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Отключено
                            <input type="submit" value="Включить" class="btn btn-link" />
                            </text>
                        }
                    }*@
            </dd>-->
            <hr />
            <a href="@Url.Action("UserCategories", "Category")">Категории</a><br />
        </div>
        <h6 class="pr-sec-ttl">Персональные настройки</h6>
        @using (Html.BeginForm("SaveConfig", "Manage"))
        {
            <div class="conf-panel">
                <div class="form-group">
                    <span>Валюта по умолчанию </span>
                    @Html.DropDownList("DefCurrency", new SelectList(
                           new[]
                           {
                        new { Value = "", Text = "" },
                        new { Value = "₸", Text = "₸" },
                        new { Value = "$", Text = "$" },
                        new { Value = "€", Text = "€" },
                        new { Value = "₽", Text = "₽" },
                        new { Value = "£", Text = "£" }
                           },
                           "Value",
                           "Text",
                           Model.DefCurrency
                       ), new { @class = "form-control conf-list-box" })
                </div>
                <div class="form-group">
                    <span>Перенос остатка </span>
                    <span style="margin-left: 0.5rem" class="details-btn" data-toggle="modal" data-target="#RestModal">?</span>

                    @Html.DropDownList("CarryoverRests", new SelectList(
                          new[]
                          {
                        new { Value = "true", Text = "Да" },
                        new { Value = "false", Text = "Нет" },
                          },
                          "Value",
                          "Text",
                          Model.CarryoverRests
                      ), new { @class = "form-control conf-list-box" })

                </div>
                <div class="form-group" style="opacity:0.5;">
                    <span>Ежемесячные платежи </span>
                    @Html.DropDownList("UseTemplates", new SelectList(
                          new[]
                          {
                        new { Value = "true", Text = "Да" },
                        new { Value = "false", Text = "Нет" },
                          },
                          "Value",
                          "Text",
                          Model.UseTemplates
                      ), new { @class = "form-control conf-list-box", disabled = "yes" })

                </div>



                <div class="text-right" style="margin-top:2rem;">
                    <input type="submit" value="Сохранить изменения" class="btn btn-sm btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
<!-- ************** -->
<!-- Модальные окна -->
<!-- ************** -->
<!-- Переносить остаток Инфо -->
<div class="modal fade" id="RestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Перенос остатка
                <div class="close close-mdl" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></div>
            </div>
            <div class="modal-body">
                <label>Если у Вас остались средства на балансе за прошлый месяц, они появятся как доход в новом месяце.</label>
            </div>

        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/manage.js"></script>

}